# Calculating the Risk of a Security

In [ ]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

### Define the dataframe and ticker names. Imported data from yahoo finance API.

In [2]:
tickers = ["PG","BEI.DE"]

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t,data_source="yahoo",start="2007-1-1")["Adj Close"]

In [8]:
sec_data.tail()

                    PG      BEI.DE
Date
2019-06-24  112.330002  107.000000
2019-06-25  111.720001  106.150002
2019-06-26  109.730003  104.300003
2019-06-27  109.779999  104.199997
2019-06-28  109.650002  105.550003

In [18]:
# np.log gets the logarithmic returns
sec_return = np.log(sec_data/sec_data.shift(1))

In [19]:
# we get the table for the log returns
sec_return.tail()

                  PG    BEI.DE
Date
2019-06-24  0.010111  0.003745
2019-06-25 -0.005445 -0.007976
2019-06-26 -0.017973 -0.017582
2019-06-27  0.000456 -0.000959
2019-06-28 -0.001185  0.012873

In [20]:
sec_return["PG"].mean()

0.0002886641716318502

In [21]:
sec_return["PG"].mean() * 250

0.07216604290796255

In [22]:
sec_return["PG"].std() * 250 **.5

0.1732054889052932

In [23]:
sec_return[["PG","BEI.DE"]].std() * 250 **.5

PG        0.173205
BEI.DE    0.216507
dtype: float64